<div class="social  social--thumbs">
  <ul class="social__list">
    <li class="social__item">
      <a href="https://vk.com/public213772398" target="_blank" rel="noopener">
        <svg width="41" height="25" viewBox="0 0 41 25" xmlns="http://www.w3.org/2000/svg">
          <use href="/images/sprite_auto.svg#icon-vk" />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="" target="_blank" rel="noopener">
        <svg width="33" height="29" viewBox="0 0 33 29" xmlns="http://www.w3.org/2000/svg">
          <use href="/images/sprite_auto.svg#icon-tg" />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="https://www.instagram.com/artambassadors.world/" target="_blank" rel="noopener">
        <svg width="31" height="31" viewBox="0 0 31 31" xmlns="http://www.w3.org/2000/svg">
          <use href="/images/sprite_auto.svg#icon-inst" />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="https://www.facebook.com/profile.php?id=100081828471183" target="_blank" rel="noopener">
        <svg width="17" height="33" viewBox="0 0 17 33" xmlns="http://www.w3.org/2000/svg">
          <use href="/images/sprite_auto.svg#icon-fb" />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="https://twitter.com/ArtAmbassadors_" target="_blank" rel="noopener">
        <svg width="33" height="27" viewBox="0 0 33 27" xmlns=" http://www.w3.org/2000/svg">
          <use href="/images/sprite_auto.svg#icon-tw" />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="https://www.linkedin.com/company/art-ambassadors-international/" target="_blank" rel="noopener">
        <svg width="29" height="29" viewBox="0 0 29 29" xmlns="http://www.w3.org/2000/svg">
          <use href="/images/sprite_auto.svg#icon-li" />
        </svg>
      </a>
    </li>
    <li class="social__item">
      <a href="https://www.youtube.com/channel/UCgJKV1j2CwoEHW9IoXQ_zQA" target="_blank" rel="noopener">
        <svg width="37" height="25" viewBox="0 0 37 25" xmlns="http://www.w3.org/2000/svg">
          <use href="/images/sprite_auto.svg#icon-yt" />
        </svg>
      </a>
    </li>
  </ul>
</div>
