---
title: О нас
description: "Краткое описание раздела. Через консолидацию профессионалов Art Ambassadors создает платформу для диалога,
рефлексии,эффективного взаимодействия, обмена опытом."
og_url: "https://artambassadors.info/"
og_image: "/images/share/1200_630_rus.png"
twitter_summary:
twitter_url: "https://twitter.com/ArtAmbassadors_"
twitter_title: Art Ambassadors
twitter_description: "Независимое децентрализованное сообщество профессионалов сферы искусства, в том числе
арт-менеджеров, продюсеров проектов в сфере культуры, арт-предпринимателей, организаторов арт-событий, галеристов,
арт-критиков, кураторов, исследователей современного художественного процесса журналистов, пишущих о культуре, а также
специалистов по PR и цифровым технологиям в искусстве."
twitter_image: "/images/share/1600_900_rus.png"
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="about  section">
  <div class="section__wrapper">
    <h1 class="section__title">{{title}}</h1>
    <img class="about__photo" src="/images/about-main-photo.jpg" alt="Фотография сообщества" loading="lazy">

    <ul class="about__list">
      <li class="about__item  animate-card">
        <article class="about__article">
          <header class="about__article-head">
            <h2>миссия сообщества</h2>
          </header>
          <div class="about__article-main-text">
            <p>Через консолидацию профессионалов Art Ambassadors создает платформу для диалога, рефлексии, эффективного
              взаимодействия,
              обмена опытом, исследований, сохранения знаний, взаимной поддержки и развития направлений деятельности в
              рамках наших
              интересов.</p>

            <p>Мы помогаем деятелям культуры и искусства продолжать работу в условиях постоянно меняющейся реальности,
              оставаться в
              мировом культурном контексте, поддерживать и развивать профессиональный уровень.</p>

            <p>Мы считаем важным через нашу деятельность быть вовлеченными в выстраивание культурной и гуманитарной
              повестки,
              базирующейся на уважении между представителями разных культур, созидательности и безопасности.</p>
          </div>
        </article>
      </li>
      <li class="about__item  animate-card">
        <article class="about__article">
          <header class="about__article-head">
            <h2>миссия сообщества</h2>
          </header>
          <div class="about__article-main-text">
            <p>Поддержка представителей арт-сообщества и независимых арт-инициатив, нацеленных на межкультурный диалог.
            </p>

            <p>Разработка стратегии и программы работы Сообщества, нацеленной на долгосрочную перспективу.</p>

            <p>Создание инфраструктуры и комплекса доступных инструментов и ресурсов для системной и методичной работы
              участников
              арт-сообщества.</p>

            <p>Взаимодействие с аналогичными ассоциациями,профессиональными объединениями и инициативами со схожими
              ценностями.</p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
