---
title: Арт-сообщество
description: "Краткое описание раздела. Через консолидацию профессионалов Art Ambassadors создает платформу для
диалога,рефлексии, эффективноговзаимодействия, обмена опытом."
og_url: "https://artambassadors.info/"
og_image: "/images/share/1200_630_rus.png"
twitter_summary:
twitter_url: "https://twitter.com/ArtAmbassadors_"
twitter_title: Art Ambassadors
twitter_description: "Независимое децентрализованное сообщество профессионалов сферы искусства, в том числе
арт-менеджеров, продюсеров проектов в сфере культуры, арт-предпринимателей, организаторов арт-событий, галеристов,
арт-критиков, кураторов, исследователей современного художественного процесса журналистов, пишущих о культуре, а также
специалистов по PR и цифровым технологиям в искусстве."
twitter_image: "/images/share/1600_900_rus.png"
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="community  section">
  <div class="section__wrapper">
    <h1 class="section__title">{{title}}</h1>
    <div class="section__head-text">
      <p>{{description}}</p>
    </div>

    <ul class="community__list">
      {% for i in range(0, 20) -%}
      <li class="community__person  animate-card">
        <article class="community__person-card">
          <div class="community__person-photo">
            <img src="/images/community/photo.jpg" alt="">
          </div>
          <h2>Анна Швец</h2>
          <p>Руководитель Art Ambassadors, арт-менеджер T’Atchers</p>
        </article>
      </li>
      <li class="community__person  animate-card">
        <article class="community__person-card">
          <div class="community__person-photo">
            <img src="/images/community/photo-1.jpg" alt="">
          </div>
          <h2>Владимир Определенов</h2>
          <p>Директор по цифровому развитию доменной зоны .ART, председатель Совета по цифровому развитию музеев ИКОМ
            России</p>
        </article>
      </li>
      <li class="community__person  animate-card">
        <article class="community__person-card">
          <div class="community__person-photo">
            <img src="/images/community/photo-2.jpg" alt="">
          </div>
          <h2>Ольга Сивель</h2>
          <p>Самое короткое описание</p>
        </article>
      </li>
      {%- endfor %}
    </ul>
  </div>
</section>

{% endblock %}
