---
title: "Museum Logos: Drawing The Line"
description: ""
og_url: "https://artambassadors.info/"
og_image: "/images/share/1200_630_rus.png"
twitter_summary:
twitter_url: "https://twitter.com/ArtAmbassadors_"
twitter_title: Art Ambassadors
twitter_description: "Независимое децентрализованное сообщество профессионалов сферы искусства, в том числе
арт-менеджеров, продюсеров проектов в сфере культуры, арт-предпринимателей, организаторов арт-событий, галеристов,
арт-критиков, кураторов, исследователей современного художественного процесса журналистов, пишущих о культуре, а также
специалистов по PR и цифровым технологиям в искусстве."
twitter_image: "/images/share/1600_900_rus.png"
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="section">
  <div class="section__wrapper">
    <article class="article">
      <header class="article__header">
        <h1 class="section__title article__header-title">{{title}}</h1>
        <div class="section__head-text article__header-text">
          <p>About a month ago, the Metropolitan Museum of Art changed their logo. You might have seen it. The change
            got me thinking
            about Museum logos more generally, and I started spending more time analysing them. (Because that’s just how
            fun I am).
            While looking over a few visual identities, I stumbled across a trend. A harrowing commonality that suggests
            some
            international conspiracy between our cultural gatekeepers. I am equal parts scared and excited to present my
            findings to
            you today.</p>
          <div class="article__header-tags">
            <span class="article__header-type">НОВОСТИ</span>
            <span class="tag  tag--green">#выставка</span>
            <span class="tag  tag--yellow">#концептуализм</span>
          </div>
          <div class="article__header-date-place">
            <p class="article__header-date">10 августа - 23 сентября 2022</p>
            <p class="article__header-place">Екатеринбург</p>
          </div>
        </div>
        <div class="article__header-pic">
          <figure>
            <img src="/images/article/head-pic.jpg" alt="">
            <figcaption>
              <p>У фото может быть подпись. Фото встраиваются по высоте и позционируются по правой стороне экрана.</p>
            </figcaption>
          </figure>

          <div class="article__header-share share">
            <h2 class="share__title">Поделиться</h2>
            <ul class="share__list">

            </ul>
          </div>
        </div>
      </header>

      <div class="article__main-text">
        <h2>Вы специализируетесь на выставочно-фестивальных проектах на стыке искусства, науки и новых технологий, что
          привело вас к такому формату? Заголовок Н2</h2>

        <p>До того, как мы с моей коллегой Юлией Логиновой организовали собственное агентство, я около пяти лет работала
          в
          Политехническом музее в Москве. Я присоединилась к команде в 2014 году, когда историческое здание музея только
          ушло на
          реконструкцию, было много энергии и надежд открыть лучший музей науки в мире, и все происходящее больше
          напоминало
          только что родившийся стартап. Я присоединилась к кураторской команде, занимавшейся спецпроектами, для того,
          чтобы
          работать над фестивалями музея. У меня к тому времени уже был большой опыт в программинге и управлением
          проектами:
          несколько лет до этого я работала в <a href="#">Фонде Михаила Прохорова</a>, в частности вела программу обмена
          с Бруклинской академией
          музыки в Нью-Йорке. Работа в музее науки привела мой общий интерес к междисциплинарным форматам в более
          конкретную
          форму. Прямой доступ к ученым, понимание их подхода и образа мысли, возможность сотрудничать с
          междисциплинарными
          художниками с самыми разными подходами и работать над проектами с многотысячной аудиторией — все это
          сформировало мою
          методологию.</p>

        <p>Но это не только выставки и фестивали, я разрабатываю и образовательные форматы — как для широкой аудитории,
          чтобы
          вдохновить их знаниями на стыке дисциплин и нестандартными подходами, так и для комьюнити. Один из форматов,
          который мне
          кажется ключевым для развития art&science, — это формат лаборатории, где встречаются участники с разными
          экспертизами и
          совместно придумывают проект. Когда я еще работал в Политехническом музее, я разрабатывала стратегию работы с
          искусством
          в контексте музея науки — и этот формат был в ее основе. При разработке таких лабораторий очень важно помнить,
          что
          недостаточно просто посадить вместе в одной комнате ученых и художников, чтобы у этой встречи был какой-то
          важный
          результат. Нужна методология, нужна фасилитация процесса, во многих случаях нужен научный коммуникатор.</p>

        <h2>Как вдохновить общество и увидеть культуру по-новому в современных реалиях? Заголовок Н2</h2>

        <p>Наши сегодняшние реалии очень болезненны для очень многих людей. Прямо сейчас мы находимся внутри ситуации,
          внутри
          военного конфликта, внутри страха, и очень трудно трезво мыслить и строить какие-то объективные взгляды на эту
          новую
          реальность. Текущий момент не про объективность, объективный анализ сейчас не будет услышан, время
          радикализации мнений
          и прямых действий. Работа в трансдисциплинарной сфере научила меня относительно комфортно находиться в
          комнате, где люди
          могут иметь разное видение ситуации, быть готовой к общению и поиску общих точек соприкосновения. Для меня
          всегда важно
          стараться выработать мета позицию, не вовлекаться эмоционально, что сейчас конечно сложно, и строить ее на
          базе
          критического мышления, знаний, продуктивности. Созидательное усилие в этом образе мышления очень важно, и я
          стараюсь
          использовать это как источник вдохновения.</p>

        <p>Наши сегодняшние реалии очень болезненны для очень многих людей. Прямо сейчас мы находимся внутри ситуации,
          внутри
          военного конфликта, внутри страха, и очень трудно трезво мыслить и строить какие-то объективные взгляды на эту
          новую
          реальность. Текущий момент не про объективность, объективный анализ сейчас не будет услышан, время
          радикализации мнений
          и прямых действий. Работа в трансдисциплинарной сфере научила меня относительно комфортно находиться в
          комнате, где люди
          могут иметь разное видение ситуации, быть готовой к общению и поиску общих точек соприкосновения. Для меня
          всегда важно
          стараться выработать мета позицию, не вовлекаться эмоционально, что сейчас конечно сложно, и строить ее на
          базе
          критического мышления, знаний, продуктивности. Созидательное усилие в этом образе мышления очень важно, и я
          стараюсь
          использовать это как источник вдохновения.</p>

        <figure>
          <img src="/images/article/article-photo-1.jpg" alt="">
          <figcaption>
            <p>Это фотография внутри статьи. У фото может быть подпись. <span>Источник: Unsplash</span></p>
          </figcaption>
        </figure>

        <p>Наши сегодняшние реалии очень болезненны для очень многих людей. Прямо сейчас мы находимся внутри ситуации,
          внутри
          военного конфликта, внутри страха, и очень трудно трезво мыслить и строить какие-то объективные взгляды на эту
          новую
          реальность. Текущий момент не про объективность, объективный анализ сейчас не будет услышан, время
          радикализации мнений
          и прямых действий. Работа в трансдисциплинарной сфере научила меня относительно комфортно находиться в
          комнате, где люди
          могут иметь разное видение ситуации, быть готовой к общению и поиску общих точек соприкосновения. Для меня
          всегда важно
          стараться выработать мета позицию, не вовлекаться эмоционально, что сейчас конечно сложно, и строить ее на
          базе
          критического мышления, знаний, продуктивности. Созидательное усилие в этом образе мышления очень важно, и я
          стараюсь
          использовать это как источник вдохновения.</p>

        <p>Наши сегодняшние реалии очень болезненны для очень многих людей. Прямо сейчас мы находимся внутри ситуации,
          внутри
          военного конфликта, внутри страха, и очень трудно трезво мыслить и строить какие-то объективные взгляды на эту
          новую
          реальность. Текущий момент не про объективность, объективный анализ сейчас не будет услышан, время
          радикализации мнений
          и прямых действий. Работа в трансдисциплинарной сфере научила меня относительно комфортно находиться в
          комнате, где люди
          могут иметь разное видение ситуации, быть готовой к общению и поиску общих точек соприкосновения. Для меня
          всегда важно
          стараться выработать мета позицию, не вовлекаться эмоционально, что сейчас конечно сложно, и строить ее на
          базе
          критического мышления, знаний, продуктивности. Созидательное усилие в этом образе мышления очень важно, и я
          стараюсь
          использовать это как источник вдохновения.</p>

        <div class="article__iframe">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/DLzxrzFCyOs" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
          <p>А это встраиваемое видео. Оно располагается слева от текста. У видео может быть подпись. <span>Источник:
              Youtube</span></p>
        </div>

        <p>Наши сегодняшние реалии очень болезненны для очень многих людей. Прямо сейчас мы находимся внутри ситуации,
          внутри
          военного конфликта, внутри страха, и очень трудно трезво мыслить и строить какие-то объективные взгляды на эту
          новую
          реальность. Текущий момент не про объективность, объективный анализ сейчас не будет услышан, время
          радикализации мнений
          и прямых действий. Работа в трансдисциплинарной сфере научила меня относительно комфортно находиться в
          комнате, где люди
          могут иметь разное видение ситуации, быть готовой к общению и поиску общих точек соприкосновения. Для меня
          всегда важно
          стараться выработать мета позицию, не вовлекаться эмоционально, что сейчас конечно сложно, и строить ее на
          базе
          критического мышления, знаний, продуктивности. Созидательное усилие в этом образе мышления очень важно, и я
          стараюсь
          использовать это как источник вдохновения.</p>

        <p>Наши сегодняшние реалии очень болезненны для очень многих людей. Прямо сейчас мы находимся внутри ситуации,
          внутри
          военного конфликта, внутри страха, и очень трудно трезво мыслить и строить какие-то объективные взгляды на эту
          новую
          реальность. Текущий момент не про объективность, объективный анализ сейчас не будет услышан, время
          радикализации мнений
          и прямых действий. Работа в трансдисциплинарной сфере научила меня относительно комфортно находиться в
          комнате, где люди
          могут иметь разное видение ситуации, быть готовой к общению и поиску общих точек соприкосновения. Для меня
          всегда важно
          стараться выработать мета позицию, не вовлекаться эмоционально, что сейчас конечно сложно, и строить ее на
          базе
          критического мышления, знаний, продуктивности. Созидательное усилие в этом образе мышления очень важно, и я
          стараюсь
          использовать это как источник вдохновения.</p>

        <p>Наши сегодняшние реалии очень болезненны для очень многих людей. Прямо сейчас мы находимся внутри ситуации,
          внутри
          военного конфликта, внутри страха, и очень трудно трезво мыслить и строить какие-то объективные взгляды на эту
          новую
          реальность. Текущий момент не про объективность, объективный анализ сейчас не будет услышан, время
          радикализации мнений
          и прямых действий.</p>
      </div>

      <div class="article__text-slider">
        <div class="swiper  article__text-swiper">
          <h2>Галерея (от 3 фото)</h2>
          <div class="article__text-slider-controls">
            <button class="swiper-button-prev" type="button">
              <svg width="32" height="33" viewBox="0 0 32 33" xmlns="http://www.w3.org/2000/svg">
                <use href="/images/sprite_auto.svg#icon-arrow-left" />
              </svg>
            </button>
            <div class="swiper-pagination"></div>
            <button class="swiper-button-next" type="button">
              <svg width="32" height="33" viewBox="0 0 32 33" xmlns="http://www.w3.org/2000/svg">
                <use href="/images/sprite_auto.svg#icon-arrow-right" />
              </svg>
            </button>
          </div>

          <div class="swiper-wrapper">
            {% for item in range(0, 2) -%}
            <div class="swiper-slide">
              <a href="/images/article/article-photo-2.jpg" data-fancybox>
                <!-- Изображение одинаковой высоты. По макету 584 -->
                <img src="/images/article/article-photo-2.jpg" alt="">
              </a>
              <p>Это слайдер. При каждом клике на стрелки слайдера фотографии сдвигаются на одну влево/вправо. У
                каждого
                фото может быть
                подпись. Фото встраиваются по высоте.</p>
            </div>
            <div class="swiper-slide">
              <a href="/images/article/article-photo-3.jpg" data-fancybox><img src="/images/article/article-photo-3.jpg"
                     alt=""></a>
            </div>
            <div class="swiper-slide">
              <a href="/images/article/article-photo-4.jpg" data-fancybox><img src="/images/article/article-photo-4.jpg"
                     alt=""></a>
            </div>
            {%- endfor %}
          </div>
        </div>
      </div>

      <div class="article__main-text">
        <h2>Как вы отбираете участников для своих проектов?
          Маркированный и нумерованный список</h2>

        <p>Выставка — очень сложная среда, если вы хотите донести сообщение: это всегда переизбыток визуальных стимулов
          и
          нестандартных идей. Чтобы спроектировать этот интеллектуальный и эмоциональный опыт таким образом, чтобы
          посетители в
          конце выставки помнили, в чем заключалась основная идея, даже не утомлялись физически, нужно подбирать проекты
          соответственно, не полагаться только на выставочный дизайн и очень четко формулировать кураторскую мысль.</p>

        <p>Это зависит от контекста. Некоторые проекты основаны на идее представить тенденции в художественных практиках
          и
          объединить их в зонтичную концепцию.</p>

        <ul>
          <li>Некоторые проекты основаны на идее представить тенденции в художественных практиках и объединить их в
            зонтичную
            концепцию.</li>
          <li>Другие следуют за основным нарративом, который требует проектов с определенным подходом или определенным
            форматом
            репрезентации.</li>
          <li>При работе над фестивалями на выбор обычно влияют и технические требования, поэтому в разных ситуациях я
            обращаю
            внимание на разные вещи.</li>
          <li>Но всегда здорово сотрудничать с художниками, которые не только работают с технологиями и научным
            содержанием, но и
            мыслят технологически, не из майндсета гуманитария.</li>
          <li>При разработке выставки для меня также важно учитывать и опыт посетителей, сценографию, думать о том,
            какие мысли,
            эмоции и физические ощущения вызывают проекты и пространство, при этом оставлять посетителям воздух для
            собственных
            исследований.</li>
        </ul>

        <p>Наши сегодняшние реалии очень болезненны для очень многих людей. Прямо сейчас мы находимся внутри ситуации,
          внутри
          военного конфликта, внутри страха, и очень трудно трезво мыслить и строить какие-то объективные взгляды на эту
          новую
          реальность. Текущий момент не про объективность, объективный анализ сейчас не будет услышан, время
          радикализации мнений
          и прямых действий. Работа в трансдисциплинарной сфере научила меня относительно комфортно находиться в
          комнате, где люди
          могут иметь разное видение ситуации, быть готовой к общению и поиску общих точек соприкосновения.</p>

        <h2>Сочетая искусство, науку, технологии и экологию, вы боитесь эмоциональной перегрузки аудитории? Легко ли
          разобраться в
          таких проектах?</h2>

        <ol>
          <li>Причина, по которой мы выбрали для выставки HYDRA art&science подход, очень проста.</li>
          <li>Если вы хотите говорить об экологии, вы не можете оставаться в границах художественных интерпретаций и
            философии, вам
            нужно работать с данными, вам нужно знать, что говорят по этой теме эксперты.</li>
          <li>Проекты на стыке искусства, науки и технологий — один из самых адекватных способов рассказать о
            сегодняшнем и завтрашнем
            дне.</li>
          <li>Мы живем в симбиотической среде.</li>
          <li>Одной из целей выставки HYDRA было восстановить эмпатию.</li>
          <li>В этой теме мы привыкли к думскроллингу.</li>
          <li>Мы хотели вернуть сюда эмоциональный заряд, создав мультисенсорное пространство с аудиовизуальными и
            ольфакторными
            стимулами, интерактивными механиками.</li>
          <li>Поэтому без искусства новых медиа здесь было невозможно обойтись.</li>
          <li>Часть отобранных для выставки художников работают с эко-повесткой непосредственно, а у части работ
            экологическая
            проблематика стала подсвечиваться благодаря включения в общий нарратив.</li>
        </ol>

        <h2>Какое было для вас самое яркое арт-потрясение?</h2>

        <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить о каком-то
          последнем
          положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон Южной Кореи на
          Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого только его
          инсталляцию Chroma.
          Совсем небольшая выставка, но сочетание концептуального, технологического и визуального было ошеломляющим.
          Центральная
          инсталляция Argos – The Swollen Suns представляет собой детектор мюонных частиц, состоящий из двухсот трубок
          Гейгера-Мюллера. Мюоны — это космические частицы, которые образуются при столкновении с атмосферой Земли.
          Инсталляция не
          только делает это явление видимым, но и посылает сигналы другим кинетическим инсталляциям на выставке и
          запускает их
          движение.</p>
      </div>

      <figure class="article__text-big-photo">
        <a href="/images/article/article-photo-5.jpg" data-fancybox><img src="/images/article/article-photo-5.jpg"
               alt=""></a>
        <figcaption>
          <p>Большое фото во всю ширину экрана. У него может быть подпись, как здесь. Так же можно встроить и видео -
            по ширине
            экрана. <span>Источник: Unsplash</span></p>
        </figcaption>
      </figure>

      <div class="article__accordion">
        <div class="article__main-text">
          <div class="accordion" data-accordion="parent" data-single="" data-close-inner="">
            <div class="accordion__element is-active" data-accordion="element">
              <button class="accordion__button " type="button" data-accordion="button">Как я могу
                присоединиться к сообществу?</button>
              <div class="accordion__content" data-accordion="content" style="max-height: 121px;">
                <div class="accordion__wrapper">
                  <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить о
                    каком-то последнем
                    положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон Южной
                    Кореи на
                    Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого только его
                    инсталляцию Chroma.</p>
                </div>
              </div>
            </div>
            <div class="accordion__element" data-accordion="element">
              <button class="accordion__button" type="button" data-accordion="button">Можно
                ли предложить сообществу свой проект?</button>
              <div class="accordion__content" data-accordion="content" style="max-height: 0px;">
                <div class="accordion__wrapper">
                  <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить о
                    каком-то последнем
                    положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон Южной
                    Кореи на
                    Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого только его
                    инсталляцию Chroma.</p>
                </div>
              </div>
            </div>
            <div class="accordion__element" data-accordion="element">
              <button class="accordion__button " type="button" data-accordion="button">Как я могу
                присоединиться к сообществу?</button>
              <div class="accordion__content" data-accordion="content" style="max-height: 0px;">
                <div class="accordion__wrapper">
                  <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить о
                    каком-то последнем
                    положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон Южной
                    Кореи на
                    Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого только его
                    инсталляцию Chroma.</p>
                </div>
              </div>
            </div>
            <div class="accordion__element" data-accordion="element">
              <button class="accordion__button " type="button" data-accordion="button">Как я могу
                присоединиться к сообществу?</button>
              <div class="accordion__content" data-accordion="content" style="max-height: 0px;">
                <div class="accordion__wrapper">
                  <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить о
                    каком-то последнем
                    положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон Южной
                    Кореи на
                    Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого только его
                    инсталляцию Chroma.</p>
                </div>
                <div class="accordion" data-accordion="parent" data-single="">
                  <div class="accordion__element" data-accordion="element">
                    <button class="accordion__button " type="button" data-accordion="button">Открыть</button>
                    <div class="accordion__content" data-accordion="content" style="max-height: 0px;">
                      <div class="accordion__wrapper">
                        <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить
                          о
                          каком-то последнем
                          положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон
                          Южной Кореи на
                          Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого
                          только
                          его инсталляцию Chroma.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion__element" data-accordion="element">
                    <button class="accordion__button " type="button" data-accordion="button">Открыть</button>
                    <div class="accordion__content" data-accordion="content" style="max-height: 0px;">
                      <div class="accordion__wrapper">
                        <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить
                          о
                          каком-то последнем
                          положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон
                          Южной Кореи на
                          Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого
                          только
                          его инсталляцию Chroma.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="article__main-text">

        <h2>Сочетая искусство, науку, технологии и экологию, вы боитесь эмоциональной перегрузки аудитории? Легко ли
          разобраться в
          таких проектах?</h2>

        <p>Но это не только выставки и фестивали, я разрабатываю и образовательные форматы — как для широкой аудитории,
          чтобы
          вдохновить их знаниями на стыке дисциплин и нестандартными подходами, так и для комьюнити. Один из форматов,
          который мне
          кажется ключевым для развития art&science, — это формат лаборатории, где встречаются участники с разными
          экспертизами и
          совместно придумывают проект. Когда я еще работал в Политехническом музее, я разрабатывала стратегию работы с
          искусством
          в контексте музея науки — и этот формат был в ее основе. При разработке таких лабораторий очень важно помнить,
          что
          недостаточно просто посадить вместе в одной комнате ученых и художников, чтобы у этой встречи был какой-то
          важный
          результат. Нужна методология, нужна фасилитация процесса, во многих случаях нужен научный коммуникатор.</p>

        <p>Но это не только выставки и фестивали, я разрабатываю и образовательные форматы — как для широкой аудитории,
          чтобы
          вдохновить их знаниями на стыке дисциплин и нестандартными подходами, так и для комьюнити. Один из форматов,
          который мне
          кажется ключевым для развития art&science, — это формат лаборатории, где встречаются участники с разными
          экспертизами и
          совместно придумывают проект. Когда я еще работал в Политехническом музее, я разрабатывала стратегию работы с
          искусством
          в контексте музея науки — и этот формат был в ее основе. При разработке таких лабораторий очень важно помнить,
          что
          недостаточно просто посадить вместе в одной комнате ученых и художников, чтобы у этой встречи был какой-то
          важный
          результат. Нужна методология, нужна фасилитация процесса, во многих случаях нужен научный коммуникатор.</p>
      </div>

      <div class="article__text-slider">
        <div class="swiper  article__text-swiper">
          <h2>Галерея встраиваемых видео (от 2 видео)</h2>
          <div class="article__text-slider-controls">
            <button class="swiper-button-prev" type="button">
              <svg width="32" height="33" viewBox="0 0 32 33" xmlns="http://www.w3.org/2000/svg">
                <use href="/images/sprite_auto.svg#icon-arrow-left" />
              </svg>
            </button>
            <div class="swiper-pagination"></div>
            <button class="swiper-button-next" type="button">
              <svg width="32" height="33" viewBox="0 0 32 33" xmlns="http://www.w3.org/2000/svg">
                <use href="/images/sprite_auto.svg#icon-arrow-right" />
              </svg>
            </button>
          </div>

          <div class="swiper-wrapper">
            {% for item in range(0, 4) -%}
            <div class="swiper-slide  swiper-slide--iframe">
              <div class="article__iframe">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DLzxrzFCyOs"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>
              <p>Встраиваемое видео. У него может быть подпись.</p>
            </div>
            <div class="swiper-slide  swiper-slide--iframe">
              <div class="article__iframe">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DLzxrzFCyOs"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>
              <p>Встраиваемое видео. У него может быть подпись.</p>
            </div>
            {%- endfor %}
          </div>
        </div>
      </div>

      <div class="article__main-text">
        <p>Но это не только выставки и фестивали, я разрабатываю и образовательные форматы — как для широкой аудитории,
          чтобы
          вдохновить их знаниями на стыке дисциплин и нестандартными подходами, так и для комьюнити. Один из форматов,
          который мне
          кажется ключевым для развития art&science, — это формат лаборатории, где встречаются участники с разными
          экспертизами и
          совместно придумывают проект. Когда я еще работал в Политехническом музее, я разрабатывала стратегию работы с
          искусством
          в контексте музея науки — и этот формат был в ее основе. При разработке таких лабораторий очень важно помнить,
          что
          недостаточно просто посадить вместе в одной комнате ученых и художников, чтобы у этой встречи был какой-то
          важный
          результат. Нужна методология, нужна фасилитация процесса, во многих случаях нужен научный коммуникатор.</p>

        <p>Но это не только выставки и фестивали, я разрабатываю и образовательные форматы — как для широкой аудитории,
          чтобы
          вдохновить их знаниями на стыке дисциплин и нестандартными подходами, так и для комьюнити. Один из форматов,
          который мне
          кажется ключевым для развития art&science, — это формат лаборатории, где встречаются участники с разными
          экспертизами и
          совместно придумывают проект. Когда я еще работал в Политехническом музее, я разрабатывала стратегию работы с
          искусством
          в контексте музея науки — и этот формат был в ее основе. При разработке таких лабораторий очень важно помнить,
          что
          недостаточно просто посадить вместе в одной комнате ученых и художников, чтобы у этой встречи был какой-то
          важный
          результат. Нужна методология, нужна фасилитация процесса, во многих случаях нужен научный коммуникатор.</p>
      </div>


    </article>
  </div>
</section>

{% endblock %}
