---
title: Часто задаваемые вопросы
description: "Краткое описание раздела. Через консолидацию профессионалов Art Ambassadors создает платформу для диалога,
рефлексии, эффективного взаимодействия, обмена опытом."
og_url: "https://artambassadors.info/"
og_image: "/images/share/1200_630_rus.png"
twitter_summary:
twitter_url: "https://twitter.com/ArtAmbassadors_"
twitter_title: Art Ambassadors
twitter_description: "Независимое децентрализованное сообщество профессионалов сферы искусства, в том числе
арт-менеджеров, продюсеров проектов в сфере культуры, арт-предпринимателей, организаторов арт-событий, галеристов,
арт-критиков, кураторов, исследователей современного художественного процесса журналистов, пишущих о культуре, а также
специалистов по PR и цифровым технологиям в искусстве."
twitter_image: "/images/share/1600_900_rus.png"
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="partners  section">
  <div class="section__wrapper">
    <h1 class="section__title">{{title}}</h1>
    <div class="section__head-text">
      <p>{{description}}</p>
    </div>

    <div class="accordion" data-accordion="parent" data-single="" data-close-inner="">
      <div class="accordion__element is-active" data-accordion="element">
        <button class="accordion__button " type="button" data-accordion="button">Как я могу
          присоединиться к сообществу?</button>
        <div class="accordion__content" data-accordion="content" style="max-height: 121px;">
          <div class="accordion__wrapper">
            <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить о
              каком-то последнем
              положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон Южной
              Кореи на
              Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого только его
              инсталляцию Chroma.</p>
          </div>
        </div>
      </div>
      <div class="accordion__element" data-accordion="element">
        <button class="accordion__button" type="button" data-accordion="button">Можно
          ли предложить сообществу свой проект?</button>
        <div class="accordion__content" data-accordion="content">
          <div class="accordion__wrapper">
            <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить о
              каком-то последнем
              положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон Южной
              Кореи на
              Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого только его
              инсталляцию Chroma.</p>
          </div>
        </div>
      </div>
      <div class="accordion__element" data-accordion="element">
        <button class="accordion__button " type="button" data-accordion="button">Как я могу
          присоединиться к сообществу?</button>
        <div class="accordion__content" data-accordion="content">
          <div class="accordion__wrapper">
            <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить о
              каком-то последнем
              положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон Южной
              Кореи на
              Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого только его
              инсталляцию Chroma.</p>
          </div>
        </div>
      </div>
      <div class="accordion__element" data-accordion="element">
        <button class="accordion__button " type="button" data-accordion="button">Как я могу
          присоединиться к сообществу?</button>
        <div class="accordion__content" data-accordion="content">
          <div class="accordion__wrapper">
            <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить о
              каком-то последнем
              положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон Южной
              Кореи на
              Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого только его
              инсталляцию Chroma.</p>
          </div>
          <div class="accordion" data-accordion="parent" data-single="">
            <div class="accordion__element" data-accordion="element">
              <button class="accordion__button " type="button" data-accordion="button">Открыть</button>
              <div class="accordion__content" data-accordion="content">
                <div class="accordion__wrapper">
                  <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить
                    о
                    каком-то последнем
                    положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон
                    Южной Кореи на
                    Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого
                    только
                    его инсталляцию Chroma.</p>
                </div>
              </div>
            </div>
            <div class="accordion__element" data-accordion="element">
              <button class="accordion__button " type="button" data-accordion="button">Открыть</button>
              <div class="accordion__content" data-accordion="content">
                <div class="accordion__wrapper">
                  <p>Не могу сказать, что меня так легко шокировать, особенно в позитивном ключе. Но если говорить
                    о
                    каком-то последнем
                    положительном опыте в области искусства, то я очень рада, что мне удалось посмотреть павильон
                    Южной Кореи на
                    Венецианской биеннале. Павильон представил 5 работ художника Юнчул Кима, я знала до этого
                    только
                    его инсталляцию Chroma.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="suggest">
      <a class="suggest__link" href="#">Предложить совместный проект <svg width="33" height="30" viewBox="0 0 33 30"
             xmlns="http://www.w3.org/2000/svg">
          <use href="/images/sprite_auto.svg#icon-top-right-arrow" />
        </svg></a>
    </div>
  </div>
</section>

{% endblock %}
