---
title: Art Ambassadors
description: Независимое децентрализованное сообщество профессионалов сферы искусства
og_title: Art Ambassadors
og_description: "Независимое децентрализованное сообщество профессионалов сферы искусства, в том числе
арт-менеджеров, продюсеров проектов в сфере культуры, арт-предпринимателей, организаторов арт-событий, галеристов,
арт-критиков, кураторов, исследователей современного художественного процесса журналистов, пишущих о культуре, а также
специалистов по PR и цифровым технологиям в искусстве."
og_url: "https://artambassadors.info/"
og_image: "/images/share/1200_630_rus.png"
twitter_summary:
twitter_url: "https://twitter.com/ArtAmbassadors_"
twitter_title: Art Ambassadors
twitter_description: "Независимое децентрализованное сообщество профессионалов сферы искусства, в том числе
арт-менеджеров, продюсеров проектов в сфере культуры, арт-предпринимателей, организаторов арт-событий, галеристов,
арт-критиков, кураторов, исследователей современного художественного процесса журналистов, пишущих о культуре, а также
специалистов по PR и цифровым технологиям в искусстве."
twitter_image: "/images/share/1600_900_rus.png"
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class='loader df aic jcc'>
  <div>
    <h1>Loading</h1>
    <h2 class='loader--text'>0%</h2>
  </div>
</div>

<section class="hero section" data-scroll data-scroll-speed="3">
  <article class="hero__article  content">
    <span class="stagger">Арт-менеджеры</span>
    <span class="stagger">Кураторы</span>
    <span class="stagger">Арт-предприниматели</span>
    <span class="stagger">Исследователи современного художественного процесса</span>
    <h1><span>Независимое сообщество</span></h1>
    <span class="stagger">Организаторы арт-событий</span>
    <h2><span>профессионалов сферы <span>искусства</span></span></h2>
    <span class="stagger">Арт-пиарщики</span>
    <span class="stagger">Продюсеры проектов в сфере культуры</span>
    <span class="stagger">Арт-критики</span>
    <span class="stagger">Специалисты по цифровым технологиям в искусстве</span>
  </article>
</section>

<section class="promo" id="promo">
  <!-- <div class="content">
    <img src="/images/promo.png" alt="">
  </div> -->
  <div>
    <div class="promo__text-wrapper">
      <div class="promo__text-row" id="first">
        <span>методичность</span>
        <span>созидание</span>
        <img src="/images/promo/promo-pic-1.jpg" alt="">
        <span>преумножение</span>
        <span>перспектива</span>
        <span>hope</span>
        <span>aesthetics</span>
      </div>
    </div>
    <div class="promo__text-wrapper">
      <div class="promo__text-row" id="second">
        <span>свобода</span>
        <img src="/images/promo/promo-pic-2.jpg" alt="">
        <span>уверенность</span>
        <span>методичность</span>
        <span>интеллигентность</span>
        <span>Perspective</span>
        <span>aesthetics</span>
      </div>
    </div>
    <div class="promo__text-wrapper">
      <div class="promo__text-row" id="third">
        <span>методичность</span>
        <span>созидание</span>
        <span>искусство</span>
        <span>ответственноость</span>
        <img src="/images/promo/promo-pic-3.jpg" alt="">
        <span>надежда</span>
        <span>aesthetics</span>
      </div>
    </div>
    <div class="promo__text-wrapper">
      <div class="promo__text-row" id="fourth">
        <span>осознанность</span>
        <span>перспектива</span>
        <img src="/images/promo/promo-pic-4.jpg" alt="">
        <span>осознанность</span>
        <span>вдохновение</span>
        <span>уважение</span>
        <span>Dialogue</span>
        <span>aesthetics</span>
      </div>
    </div>
    <div class="promo__text-wrapper">
      <div class="promo__text-row" id="fifth">
        <span>методичность</span>
        <span>созидание</span>
        <span>культура</span>
        <span>эстетика</span>
        <img src="/images/promo/promo-pic-5.jpg" alt="">
        <span>надежда</span>
        <span>развитие</span>
      </div>
    </div>
  </div>

</section>

<section class="mission">
  <div class="mission__text">
    <h2>Миссия сообщества</h2>
    <p>Через консолидацию профессионалов Art Ambassadors создает платформу для диалога, рефлексии, эффективного
      взаимодействия,
      обмена опытом, исследований, сохранения знаний, взаимной поддержки и развития направлений деятельности в рамках
      наших
      интересов.</p>

    <a class="mission__link" href="#">Наши приоритеты <svg width="18" height="17" viewBox="0 0 18 17"
           xmlns="http://www.w3.org/2000/svg">
        <use href="/images/sprite_auto.svg#icon-right-arrow" />
      </svg></a>
  </div>

</section>

<section class="news" data-scroll data-scroll-speed="3">
  <div class="news__head">
    <h2 class="news__head-title">Новости</h2>
    <a class="news__head-link" href="news.html">Посмотреть все <svg width="18" height="17" viewBox="0 0 18 17"
           xmlns="http://www.w3.org/2000/svg">
        <use href="/images/sprite_auto.svg#icon-right-arrow" />
      </svg>
    </a>
  </div>
  <ul class="news__list">
    <li class="news__list-item  animate-card">
      <article class="news__list-article">
        <a href="news-item.html">
          <img src="/images/news/news-pic-1.jpg" alt="Фотография к новости">
          <div class="news__list-article-text">
            <div class="news__tags"><span class="tag  tag--green">#выставка</span>
              <span class="tag  tag--yellow">#концептуализм</span>
            </div>
            <h3>Limna: Art advisory in your pocket advisory in your pocket</h3>
            <p>Role of artificial intelligence for Limna. How it was created. Short description. How it was created
              and
              how does it
              operate today.</p>
          </div>
        </a>
      </article>
    </li>
    <li class="news__list-item  animate-card">
      <article class="news__list-article">
        <a href="news-item.html">
          <img src="/images/news/news-pic-2.jpg" alt="Фотография к новости">
          <div class="news__list-article-text">
            <div class="news__tags"><span class="tag  tag--green">#выставка</span>
              <span class="tag  tag--yellow">#концептуализм</span>
            </div>
            <h3>Limna: Art advisory in your pocket advisory in your pocket</h3>
            <p>Role of artificial intelligence for Limna. How it was created. Short description. How it was created
              and
              how does it
              operate today.</p>
          </div>
        </a>
      </article>
    </li>
    <li class="news__list-item  animate-card">
      <article class="news__list-article">
        <a href="news-item.html">
          <img src="/images/news/news-pic-3.jpg" alt="Фотография к новости">
          <div class="news__list-article-text">
            <div class="news__tags"><span class="tag  tag--green">#выставка</span>
              <span class="tag  tag--yellow">#концептуализм</span>
            </div>
            <h3>Limna: Art advisory in your pocket advisory in your pocket</h3>
            <p>Role of artificial intelligence for Limna. How it was created. Short description. How it was created
              and
              how does it
              operate today.Role of artificial intelligence for Limna. How it was created. Short description. How it was
              created
              and
              how does it
              operate today.</p>
          </div>
        </a>
      </article>
    </li>
    <li class="news__list-item  animate-card">
      <article class="news__list-article">
        <a href="news-item.html">
          <img src="/images/news/news-pic-4.jpg" alt="Фотография к новости">
          <div class="news__list-article-text">
            <div class="news__tags"><span class="tag  tag--green">#выставка</span>
              <span class="tag  tag--yellow">#концептуализм</span>
            </div>
            <h3>Limna: Art advisory in your pocket advisory in your pocket</h3>
            <p>Role of artificial intelligence for Limna. How it was created. Short description. How it was created
              and
              how does it
              operate today.</p>
          </div>
        </a>
      </article>
    </li>
    <li class="news__list-item  animate-card">
      <article class="news__list-article">
        <a href="news-item.html">
          <img src="/images/news/news-pic-5.jpg" alt="Фотография к новости">
          <div class="news__list-article-text">
            <div class="news__tags"><span class="tag  tag--green">#опрос</span>
            </div>
            <h3>Limna: Art advisory in your pocket advisory in your pocket</h3>
            <p>Role of artificial intelligence for Limna. How it was created and how does it operate today. How it was
              created and how does it operate today.</p>
          </div>
        </a>
      </article>
    </li>
    <li class="news__list-item  animate-card">
      <article class="news__list-article">
        <a href="news-item.html">
          <img src="/images/news/news-pic-6.jpg" alt="Фотография к новости">
          <div class="news__list-article-text">
            <div class="news__tags"><span class="tag  tag--green">#open-call
                #блокчейн</span>
            </div>
            <h3>Limna: Art advisory in your pocket advisory in your pocket</h3>
            <p>Role of artificial intelligence for Limna. How it was created. Short description. How it was created
              and
              how does it
              operate today.</p>
          </div>
        </a>
      </article>
    </li>
  </ul>
</section>

{% endblock %}
