---
title: Index page
description: Description index
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="start">
  <div class="start__marquee">
    <section class="spacer"></section>

    <section class="marquee">
      <div class="marquee__inner" aria-hidden="true" ref="inner">
        <div class="marquee__part">
          <span>единение</span>
          <span>культура</span>
          <span>гармония</span>
          <span>сопричастность</span>
        </div>

      </div>
    </section>
    <section class="marquee">
      <div class="marquee__inner" aria-hidden="true" ref="inner">
        <div class="marquee__part">
          <span>единение</span>
          <span>культура</span>
          <span>гармония</span>
          <span>сопричастность</span>
        </div>
      </div>
    </section>
    <section class="marquee">
      <div class="marquee__inner" aria-hidden="true" ref="inner">

        <div class="marquee__part">
          <span>поддержка</span>
          <span>интеллигентность</span>
          <span>гармония</span>
          <span>сопричастность</span>
        </div>

      </div>
    </section>

    <section class="spacer"></section>
  </div>

  <div class="start__wrapper">
    <div class="start__logo">
      <img src="/images/big-logo.svg" alt="">
    </div>

    <div class="start__text">
      <p> сообщество арт-менеджеров, <br>
        продюсеров культурных инициатив, кураторов, художников, предпринимателей творческого сектора, арт-пиарщиков,
        журналистов
        и исследователей современной культуры.</p>

      <a href="" download>скачать презентацию проекта /pdf/</a>
    </div>

    <div class="start__info">
      <p>© art ambassadors</p>
      <p>сайт в разработке и скоро будет запущен</p>
      <p>ArtAmbassadorsIntl@gmail.com</p>
      <p>2022</p>
    </div>
  </div>


</section>
{% endblock %}
