---
title: Art Ambassadors
description: Независимое децентрализованное сообщество профессионалов сферы искусства
og_title: Art Ambassadors
og_description: "Независимое децентрализованное сообщество профессионалов сферы искусства, в том числе
арт-менеджеров, продюсеров проектов в сфере культуры, арт-предпринимателей, организаторов арт-событий, галеристов,
арт-критиков, кураторов, исследователей современного художественного процесса журналистов, пишущих о культуре, а также
специалистов по PR и цифровым технологиям в искусстве."
og_url: "https://artambassadors.info/"
og_image: "/images/share/1200_630_rus.png"
twitter_summary:
twitter_url: "https://twitter.com/ArtAmbassadors_"
twitter_title: Art Ambassadors
twitter_description: "Независимое децентрализованное сообщество профессионалов сферы искусства, в том числе
арт-менеджеров, продюсеров проектов в сфере культуры, арт-предпринимателей, организаторов арт-событий, галеристов,
арт-критиков, кураторов, исследователей современного художественного процесса журналистов, пишущих о культуре, а также
специалистов по PR и цифровым технологиям в искусстве."
twitter_image: "/images/share/1600_900_rus.png"
---

{% extends "layouts/_layout.html" %}

{% block content %}


<section class="start">
  <div class="start__marquee">
    <section class="spacer"></section>

    <section class="marquee">
      <div class="marquee__inner" aria-hidden="true" ref="inner">
        <div class="marquee__part">
          <span>единение</span>
          <span>культура</span>
          <span>гармония</span>
          <span>сопричастность</span>
        </div>
      </div>
    </section>
    <section class="marquee">
      <div class="marquee__inner" aria-hidden="true" ref="inner">
        <div class="marquee__part">
          <span>единение</span>
          <span>культура</span>
          <span>гармония</span>
          <span>сопричастность</span>
        </div>
      </div>
    </section>
    <section class="marquee">
      <div class="marquee__inner" aria-hidden="true" ref="inner">
        <div class="marquee__part">
          <span>поддержка</span>
          <span>интеллигентность</span>
          <span>гармония</span>
          <span>сопричастность</span>
        </div>
      </div>
    </section>

    <section class="spacer"></section>
  </div>

  <div class="start__wrapper">
    <div class="start__logo">
      <img src="/images/big-logo.svg" alt="">
    </div>

    <div class="start__text">
      <p> Независимое децентрализованное сообщество профессионалов сферы искусства, в том числе арт-менеджеров,
        продюсеров
        проектов в сфере культуры, арт-предпринимателей, организаторов арт-событий, галеристов, арт-критиков, кураторов,
        исследователей современного художественного процесса, журналистов, пишущих о культуре, а также специалистов по
        PR и
        цифровым технологиям в искусстве.</p>

      <a href="/files/aa_presentation_rus.pdf">скачать презентацию /pdf/</a>
    </div>

    <div class="start__info">
      <p>© art ambassadors</p>
      <p>сайт в разработке и скоро будет запущен</p>
      <p>ArtAmbassadorsIntl@gmail.com</p>
      <p>2022</p>
    </div>
  </div>


</section>
{% endblock %}
