---
title: Art Ambassadors
description: An independent decentralized community of art professionals
og_title: Art Ambassadors
og_description: "An independent decentralized community of art professionals, including art managers, cultural project
producers, art entrepreneurs, art event organizers, gallery owners, art critics, curators, researchers of the
contemporary art process, journalists writing about culture, as well as specialists in PR and digital technologies in
art."
og_url: "http://artambassadors.world/"
og_image: "/images/share/1200_630_rus.png"
twitter_summary:
twitter_url: "https://twitter.com/ArtAmbassadors_"
twitter_title: Art Ambassadors
twitter_description: "Независимое децентрализованное сообщество профессионалов сферы искусства, в том числе
арт-менеджеров, продюсеров проектов в сфере культуры, арт-предпринимателей, организаторов арт-событий, галеристов,
арт-критиков, кураторов, исследователей современного художественного процесса журналистов, пишущих о культуре, а также
специалистов по PR и цифровым технологиям в искусстве."
twitter_image: "/images/share/1600_900_eng.png"
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="start">
  <div class="start__marquee">
    <section class="spacer"></section>

    <section class="marquee">
      <div class="marquee__inner" aria-hidden="true" ref="inner">
        <div class="marquee__part">
          <span>creation</span>
          <span>augmentation</span>
          <span>responsibility</span>
          <span>methodology</span>
        </div>
      </div>
    </section>
    <section class="marquee">
      <div class="marquee__inner" aria-hidden="true" ref="inner">
        <div class="marquee__part">
          <span>diversity</span>
          <span>inspiration</span>
          <span>respect</span>
          <span>dialogue</span>
        </div>
      </div>
    </section>
    <section class="marquee">
      <div class="marquee__inner" aria-hidden="true" ref="inner">
        <div class="marquee__part">
          <span>culture</span>
          <span>professionalism</span>
          <span>mindfulness</span>
          <span>Intellectuality</span>
        </div>
      </div>
    </section>

    <section class="spacer"></section>
  </div>

  <div class="start__wrapper">
    <div class="start__logo">
      <img src="/images/big-logo.svg" alt="">
    </div>

    <div class="start__text">
      <p>An independent decentralized community of art professionals, including art managers, cultural project
        producers, art
        entrepreneurs, art event organizers, gallery owners, art critics, curators, researchers of the contemporary art
        process,
        journalists writing about culture, as well as specialists in PR and digital technologies in art.</p>

      <a href="aa_presentation_en.pdf" download>download presentation /pdf/</a>
    </div>

    <div class="start__info">
      <p>© art ambassadors</p>
      <p>website under construction and will be launched soon</p>
      <p>ArtAmbassadorsIntl@gmail.com</p>
      <p>2022</p>
    </div>
  </div>

</section>
{% endblock %}
