.about__list {
  @include list-reset;
}

.about__item {
  padding: 50px 0;
  border-bottom: 1px solid #b4b4b4;

  &:last-child {
    border-bottom: none;
  }
}

.about__article {
  @include tablet {
    @include grid-24;
  }
}

.about__article-head {
  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    /* identical to box height, or 34px */

    text-transform: uppercase;

    color: var(--s-green);
  }

  @include tablet {
    grid-column: 1 / span 8;
  }
}

.about__article-main-text {
  p,
  li {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  li {
    position: relative;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 15px;
      display: block;
      width: 9px;
      height: 18px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='20' viewBox='0 0 10 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33568 19.2428C1.02414 19.2434 0.722229 19.1349 0.482346 18.9361C0.347335 18.8242 0.235733 18.6867 0.15393 18.5316C0.0721275 18.3764 0.0217324 18.2067 0.00563123 18.0321C-0.0104699 17.8574 0.00803944 17.6813 0.0600987 17.5139C0.112158 17.3464 0.196744 17.1908 0.309013 17.0561L6.28235 9.90943L0.522347 2.74943C0.411593 2.61304 0.328884 2.45611 0.278975 2.28766C0.229066 2.11921 0.212941 1.94255 0.231526 1.76785C0.250112 1.59314 0.303041 1.42384 0.387273 1.26965C0.471504 1.11547 0.585378 0.979456 0.722347 0.869426C0.860301 0.748044 1.02186 0.656487 1.19687 0.600502C1.37189 0.544516 1.55659 0.525311 1.73938 0.544091C1.92217 0.562871 2.09911 0.619231 2.25908 0.709633C2.41906 0.800036 2.55862 0.922529 2.66901 1.06943L9.10901 9.06943C9.30512 9.308 9.41233 9.60726 9.41233 9.91609C9.41233 10.2249 9.30512 10.5242 9.10901 10.7628L2.44235 18.7628C2.30859 18.9241 2.13868 19.0517 1.9464 19.1351C1.75412 19.2185 1.54489 19.2554 1.33568 19.2428Z' fill='%2355B590'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
    }

    p {
      margin-bottom: 0;
    }
  }

  ul {
    @include list-reset;
  }

  @include tablet {
    grid-column: 11 / span 14;
  }
}
