.news {
  @include wrapper;
  padding-top: 50px;
  background-color: var(--b-light-gray);
  position: relative;

  &--page {
    padding-left: 0;
    padding-right: 0;
  }
}

.news__head {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.news__head-title {
  @include title;
}

.news__head-link {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 8px;
  align-items: center;
  margin-left: 14px;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--gray-green);
  text-decoration: none;
  transition: color 0.3s linear;

  &:hover {
    color: var(--s-green);
  }

  @include mobile {
    margin-left: auto;
    font-size: 18px;
  }
}

.news__list {
  @include list-reset;
  display: grid;
  row-gap: 45px;

  &--full-page {
    .news__list-article {
      border-bottom: 1px solid #b4b4b4;

      a {
        padding-bottom: 20px;
      }
    }
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 6.25%;
    grid-row: 110px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;

    &--full-page {
      grid-column: 6 / span 19;
      row-gap: 40px;
      column-gap: 36px;
    }
  }
}

.news__list-article {
  a {
    display: grid;
    color: inherit;
    text-decoration: none;
    outline: 2px solid transparent;
    outline-offset: 10px;
    transition: outline 0.3s linear;

    &:hover {
      outline: 2px solid var(--s-light-green);
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      line-height: 155%;
      color: var(--b-black);
    }

    p {
      margin: 0;
      font-size: 18px;
      line-height: 155%;
      color: var(--b-black);
    }

    time {
      display: block;
      margin-top: 16px;
      font-weight: 400;
      font-size: 18px;
      line-height: 155%;
      /* identical to box height, or 28px */

      color: #aeaeae;
    }
  }
}

.news__filter {
  margin-bottom: 35px;

  @include desktop {
    margin-bottom: 80px;
    grid-column: 1 / -1;
  }
}

.news__page-container {
  @include desktop {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
  }
}

.news__sidebar {
  margin-bottom: 60px;

  @include desktop {
    grid-column: 1 / span 4;
    margin-bottom: 0;
  }
}
