.page {
  height: 100%;

  // --b-green: #8dd0b7;
  // --b-light-green: #c4d9d1;
  // --b-black: #454545;
  // --b-gray: #bcbcbc;
  // --b-light-gray: #f5f5f5;
  // --b-white: #ffffff;
  // --s-green: #7bc7aa;
  // --dark-gray: #4e4e4e;
  // --s-light-green: #a2cdbd;
  // --s-gray: #c4c4c4;
  // --gray-green: #b4bfbb;
  // --b-yellow: #d6af7d;
  // --partners-card-bg: #e8e8e8;

  @include desktop {
    .contrast-version__active {
      display: block;
    }

    .contrast-version__normal {
      display: none;
    }

    &--dark {
      background-color: #fff;

      .page__body,
      .header {
        background-color: #fff;
      }

      .header {
        transform: translate(0) !important;
      }

      .contrast-version__active {
        display: none;
      }

      .contrast-version__normal {
        display: block;
      }

      .header__search-btn {
        padding: 20px;
        font-size: 30px;

        &:hover {
          outline: 2px solid var(--b-black);
        }
      }

      .header__search-input {
        font-size: 30px;
        background-color: #fff;
        border: 2px solid var(--b-black);
      }

      .header__search-form-wrapper {
        width: 500px;
      }

      .contrast-version {
        padding: 20px;
        margin-right: 50px;
        font-size: 30px;

        &:hover {
          outline: 2px solid var(--b-black);
        }
      }

      --b-green: #000;
      --s-green: #000;
      --s-light-green: #000;
      --s-gray: #000;
      --b-black: #000;

      .main-nav__link {
        padding: 10px;
        font-size: 30px;
        line-height: 200%;

        &:hover {
          outline: 2px solid var(--b-black);
        }
      }

      .promo__text-row span {
        color: var(--b-black);
        font-size: 80px;

        &::after {
          filter: brightness(0) contrast(1);
        }
      }

      .mission__text {
        padding-top: 50px;

        h2,
        .mission__link {
          font-size: 35px;
        }

        p {
          font-size: 45px;
        }

        .mission__link {
          padding: 10px;

          &:hover {
            outline: 2px solid var(--b-black);
          }
        }
      }

      .news__head-title,
      .news__head-link {
        padding: 20px 0;
        font-size: 35px;
      }

      .news__head-link {
        padding: 20px;

        &:hover {
          outline: 2px solid var(--b-black);
        }
      }

      .news,
      .mission {
        background-color: #fff;
      }

      .news__list-article-text {
        h3 {
          margin-bottom: 20px;
          font-size: 40px;
        }

        p {
          font-size: 35px;
        }

        .tag {
          filter: grayscale(1) contrast(1) brightness(0);
          font-size: 30px;
        }
      }

      .footer {
        background-color: #000;
      }

      .footer__nav-link,
      .footer__subnav-link {
        font-size: 30px;
        padding: 20px;

        &:hover {
          color: #fff;
          outline: 2px solid #fff;
        }
      }

      .footer__subnav-link {
        padding: 10px;
        font-size: 25px;
      }

      .footer__subnav-title {
        padding-left: 10px;
        font-size: 30px;
        color: #fff;
      }

      .footer__copyright {
        color: #fff;
      }

      .footer__call-to-action-link {
        color: #fff;
        padding: 20px;

        &:hover {
          color: #fff;
          outline: 2px solid #fff;
        }
      }

      .section__title {
        font-size: 80px;
      }

      .section__head-text {
        max-width: 100%;

        p {
          font-size: 45px;
        }
      }

      .partners__item a {
        background-color: #fff;
        transition: none;

        &:hover {
          background-color: #fff;

          outline: 2px solid var(--b-black);
        }
      }

      .accordion__button {
        font-size: 50px;

        &::after {
          width: 50px;
          height: 50px;
        }
      }

      .accordion__content p {
        font-size: 40px;
      }

      .accordion__element {
        border-bottom: 4px solid var(--b-black);
      }

      .suggest__link {
        font-size: 55px;
      }

      .community__person-card {
        h2 {
          font-size: 35px;
        }

        p {
          font-size: 25px;
        }
      }

      .about__article-head {
        h2 {
          margin: 0;
          font-size: 45px;
        }
      }

      .about__article-main-text {
        p {
          font-size: 35px;
        }
      }

      .article__main-text {
        max-width: 100%;

        h2 {
          margin-bottom: 80px;
          font-size: 55px;
          line-height: 180%;
        }

        p,
        li {
          margin-bottom: 35px;
          font-size: 40px;
        }

        li {
          &::before {
            top: 25px;
            filter: brightness(0) contrast(1) grayscale(1);
          }
        }
      }

      .article__text-slider {
        h2 {
          font-size: 45px;
        }
        .swiper-pagination {
          font-size: 45px;
        }

        .swiper-slide p {
          font-size: 35px;
        }
      }

      .article__text-big-photo figcaption p {
        font-size: 35px;
      }

      .article__accordion {
        border-bottom: 4px solid var(--b-black);
      }

      .article__text-slider {
        border-top: 4px solid var(--b-black);
        border-bottom: 4px solid var(--b-black);
      }

      .filter__list {
        gap: 20px;
      }

      .filter__item-link {
        padding: 20px;
        font-size: 33px;
        color: var(--b-black);
        text-transform: uppercase;

        sup {
          font-size: 18px;
        }

        &:hover {
          outline-offset: -2px;
          outline: 2px solid var(--b-black);
        }
      }

      .news__sidebar {
        grid-column: 1 / span 6;
      }

      .news__list--full-page {
        grid-column: 8 / span 17;
        grid-template-columns: 1fr 1fr;
      }

      .news__sidebar-text {
        font-size: 35px;
      }

      .search__form {
        input {
          padding-left: 80px;
          font-size: 35px;
          color: var(--b-black);
        }
        button {
          width: 54px;
          height: 54px;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .custom-select__label,
      .custom-select__text,
      .custom-select__item {
        font-size: 30px;
      }
    }
  }
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: $b-font;
  color: var(--b-black);
  background-color: var(--b-light-gray);
}

.page__main {
  flex-grow: 1;
  padding-top: 90px;
  padding-bottom: 100px;
}
