@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url('../fonts/' + $path + '.woff2') format('woff2');
  }
}

@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}
@mixin fullhd {
  @media only screen and (min-width: $fullhd * 1px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $mobile * 1px) {
    @content;
  }
}

@mixin grid-24 {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-left: 3.75%;
    padding-right: 3.75%;
  }
}

@mixin title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--s-green);

  @include mobile {
    font-size: 22px;
  }
}

@mixin section-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 34px;
  line-height: 130%;
  color: var(--b-black);

  @include tablet {
    font-size: 64px;
  }
}
