:root {
  --b-green: #8dd0b7;
  --b-light-green: #c4d9d1;
  --b-black: #454545;
  --b-gray: #bcbcbc;
  --b-light-gray: #f5f5f5;
  --b-white: #ffffff;
}

$b-font: "Inter", sans-serif;

$mobile: 767;
$tablet: 768;
$large: 1024;
$desktop: 1280;
