{% set
list = [
{
title: 'О нас',
link: 'about-us'
},
{
title: 'Арт-сообщество',
link: 'art-community'
},
{
title: 'проекты & исследования',
link: 'projects-research'
},
{
title: 'Арт-агрегатор',
link: 'art-aggregator'
},
{
title: 'Нужна консультация?',
link: 'consulting',
modificator: 'green'
}
]
%}

{% set
footerlist = [
{
title: 'О нас',
link: 'about-us'
},
{
title: 'Арт-сообщество',
link: 'art-community'
},
{
title: 'проекты & исследования',
link: 'projects-research'
},
{
title: 'контакты',
link: 'contacts'
},
{
title: 'поддержать нас',
link: 'support'
},
{
title: 'Нужна консультация?',
link: 'consulting',
modificator: 'green'
}
]
%}
